@charset "UTF-8";

/* 여백 및 기본적인 폰트를 설정 */

body {
	margin: 0;
	padding: 0; /* 여백안주겠다 */
	font-family: Arial, "Ms trebuchet", sans-serif;
}

div#wrap{
	/*border: solid 1px navy;*/
	width: 960px;
	margin: 0 auto;
}

/* 내비게이션 리스트의 점(disc) 제거하기*/
header#page_header ul, footer#page_footer ul {
	list-style-type: none;
}

header#page_header li, footer#page_footer li {
	/*border: solid 1px gray;*/
	display: inline;
	margin:	0 20px 0 0; /* 상 우 하 좌 */
	padding: 0; /* 상 우 하 좌 */
}

div#first > ul > li {	/* 아이디가 first인 div 태그 속에 들어있는 모든 li 태그 */
	line-height: 40px; 
}

div#second > ul > li {	/* 부모 아이디가 second인 div 태그 속에 있는 ul 태그가 부모인 li 태그 */
	line-height: 20px;
}

/* a 태그에 밑줄 제거하기 */
a {
	text-decoration:none;
}

/* a 태그에 방문 후 링크 */
a:visited {
	color: blue;
}

/* a 태그에 마우스 포인터를 올려 놓았을때 */
header#page_header a:hover {
	background-color: white;
	color: red;
	font-weight: bolder;
}

div#line {
	border-top: solid 2px blue;
	margin-bottom: 20px;
}

section#posts {
	/*border: solid 1px red;*/
	float: left; /* 가로방향으로 표시한다. */
	width: 72%;
}

section#posts aside {
	/*border: solid 1px green;*/
	float: right;
	width: 35%;
	margin-left: 20px;
	font-size : 20px;
	font-weight: bolder;
	color : #b30059;
	line-height: 40px; /* 줄 간격 */
}

section#sidebar {
	/*border: solid 1px gold;*/
	float: right;
	width: 24%;
	border-left: solid 1px gray;
	padding-left: 1%;
}

section#sidebar>li {
	line-height: 40px; /* 줄 간격 */
}

footer#page_footer {
	/*border: solid 1px red;*/
	clear: both; /* clear는 float을 해제해서 페이지 하단에 안착시킨다. both는 왼쪽, 오른쪽 둘 다를 말함*/
	text-align: center;
}

p {
	margin: 0 0 20px 0; /* 상 우 하 좌 */
}
